<h2>My Heroes</h2>



<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>

  <div *ngFor=" let hero of allHeroes | async">
    <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
  </div>
</ul> -->

<div *ngFor="let hero of heroes">
  {{hero.id}} | {{hero.name}}

</div>


<button (click)="atras()">Atras</button>
<button (click)="siguiente()">Siguiente</button>
